@import "tailwindcss";

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --background: #ffffff;
    --foreground: #545454;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #545454;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
    color: black;
    margin: 10px;
}